<div class="widget tag">
<h3 class="title">友情链接</h3>
<ul class="entry">
<li><a href="http://szcx.pe.hu/" title="蓝江老涌的博客">遂州创信</a></li>
<li><a href="http://lxy361.tk/" title="Hexo博客">Hexo博客</a></li>
<li><a href="http://lxy361.qiniudn.com/"title="七牛空间">七牛空间博客</a></li>
<li><a href="http://kirito.cn/" title="kiritoの窝">kiritoの窝</a></li>
</ul>
</div>