<div class="widget tag">
<h3 class="title">博主简介</h3>
<ul class="entry">
<li><img width="150" img src="http://szcxgg.qiniudn.com/2014-10-30_135510.png" alt="" /></li>
<li>本体：蓝涌</li>
<li>二次元：遂州创信 | 蓝江老涌</li>
<li>现状：帝都蜀地斗城一园丁</li>
<li>想要交友的朋友请<a href="http://szcx.pe.hu/about/">联系我</a>！</li>
<li>QQ号： 87389166</li>
</ul>
</div>

